@font-face {
    font-family: openSans;
    src: url(fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: playfair;
    src: url(fonts/PlayfairDisplaySC-Black.ttf);
}



.column-wrap {
    display: block;
    text-align: center;
}

.column {
    display: inline-block;
    width: 400px;
}

.header-wrapper {
    display: inline-block;
    width: 90%;
    text-align: left;
}

.logo {
    display: inline-block;
    max-width: 100%;
    height: auto;
    position: relative;
    top: 4px;
    margin-right: 16px;
}

h1 {
    display: inline-block;
    font-family: openSans;
    font-size: 20px;
    color: #777;
}

h2 {
    display: inline-block;
    font-family: openSans;
    font-size: 32px;
    color: #777;
}

form {
    text-align: left;
    font-family: playfair;
}

input {
    margin: 6px 0 72px 0;
    border: none;
    border-bottom: solid 1px #777;
    font-family: openSans;
    width: 100%;
    font-size: 16px;
    padding: 6px 0 4px 4px;
}

input:focus {
    outline: none;
}
